<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="AA-logo">

    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li><i class="fa fa-newspaper-o"></i>
        <a href="#">Today's Paper</a></li>
      <li>
        <i class="fa fa-video-camera"></i>
        <a href="#">Video</a></li>

      <li id="temp-btn">
        <button type="button">
          <i style="color:gold" class="fa fa-sun-o"></i>
          <span>77°F</span>
        </button>
      </li>

      <li>
        <button type="button">
          <span>AAO</span>
          <span style="color:green">+100%</span>
        </button>
      </li>
    </ul>

</header>
