.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  align-items: center;
  box-sizing: border-box;
}

.left-nav > ul {
  display: flex;
}
.right-nav > ul {
  display: flex;
}

.left-nav > ul > li {
  padding: 10px;
  border-radius: 2px;
  font-family: $sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;

}

.right-nav > ul > li {
  padding: 10px;
  border-radius: 2px;
}

.right-nav > ul > li:last-of-type {
  margin: 6px;
  padding: 6px;
  font-size: 16px;
}

.left-nav > ul > li:hover {
  padding: 10px;
  border-radius: 2px;
  background-color: $lightest-gray;
}

.right-nav > ul > li:last-of-type:hover {
  margin: 6px;
  padding: 6px;
  background-color: $lightest-gray;

}
.left-nav span {

}


.right-nav i {

}
