.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-1-1 > ul, .left > ul {
  list-style: initial;
}

.col-1-nav > ul > li {
  padding: 5px;
}

.main-content > section {
}

.col-2-1 {
  height: 260px;
}

 iframe {
  // display: flex;
  width: 100%;
  height: 100%;
}

.right > img {
  height: 100px;
}

.col-3 {
  // display: flex;
}

.col-3 > h3 {
  // display: block;
}

.col-3-nav {
  display: flex;
}

input {
  border: 1px solid $gray;
  width: 100%;
  color: $gray;
  padding-left: 6px;
  font-family: sans-serif;
}

form {
  box-sizing: border-box;
  display: flex;
  padding-top: 10px;
}

form > button {
  border-radius: 0px 3px 3px 0px;
}

#form-footer {
  text-align: center;
  font-size: 10px;
  padding: 5px;
  color: $gray;
  font-family: sans-serif;
}

.left {
  margin-right: 30px;
}

.left > ul {
  font-weight: bold;
}

h4 {
  color: $gray;
  font-weight: normal;
}

h2 {
  color: black;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}
